.order-pad-mb-pb{
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
}
.sec-our-categories.pad-y{
    padding: 10rem 0;
}
.order-list-box{
    padding-bottom: 2.1rem;
    margin-bottom: 2.4rem;
    border-bottom: 1px solid $footer-bg !important;
    @include m-575{
        padding-bottom: 1.5rem;
        margin-bottom: 2rem;
    }
    // @include m-425{
    //     flex-direction: column;
    // }
    .order-img{
        height: 13.6rem;
        width: 18.1rem;
        min-width: 18.1rem;
        border-radius: 0px;
        overflow: hidden;
        background: white;
        border: 1px solid $footer-bg;
        margin-right: 2rem !important;
        img{
            max-height: 100%;
        }
        // @include m-425{
        //     margin-right: auto !important;
        //     margin-left:auto !important;
        //     margin-bottom: 3rem;
        // }
    }
    
}
.rtl .order-list-box .order-img{
    margin-right: 0rem !important;
    margin-left: 2rem !important;
}
.tittle-order{
    font-size: 2rem;
    font-weight: 600;
    color: $heading;
    margin-bottom: 0.6rem;
}
.setts-4-order-detail .total-amount-list {
    // margin-top: 4.1rem;
    margin-top: 3.8rem;
    margin-bottom: 0;
    @include large-1199{
        margin-top: 3.8rem;
    }
    @include medium-991{
        margin-top: 3.5rem;
    }
}
.line-height-issue{
    line-height: 2rem;
}
.total-amount-list{
    font-size: 2rem;
    font-weight: 400;
    color: $heading;
   margin-top: 1.3rem;
   margin-bottom: 0;
    span{
        color: $primary;
        font-weight: 600;
    }
}
.total-amount-list-ha{
    font-size: 1.8rem;
    font-weight: 400;
    color: $heading;
    
    span{
        
        font-weight: 600;
    }
}
.order-combination{
    &:last-child{
        .list{
            // margin-bottom: 0rem;
        }
    }
    .list{
        font-size: 1.6rem;
        font-weight: 400;
        color: $heading;
        margin-bottom: 0.4rem;
        span{
            font-weight: 300;
            color: $text-p;
        }
    }
}
.order-detail-box .company-info-card .order-combination{
    .list{
        font-size: 1.6rem;
        font-weight: 400;
        color: $heading;
        margin-bottom: 0.4rem;
        span{
            font-weight: 300;
            color: $text-p;
        }
    }
}
.totoat-amount-heading-m{
    margin-top: 0.8rem !important;
}
.order-view{
    .eye-icon{
        background: $primary;
        border-radius: 100px;
        height: 4.4rem;
        width: 4.4rem;
        line-height: 4rem;
        color: $white;
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        &:hover{
            background: $heading;
            color: $white;
        }
    }
}

.border-bottom{
    border-color: $footer-bg !important;
}
.order-note{
    .title{
        font-size: 2rem;
        font-weight: 600;
        color: $heading;
        margin-bottom: 0.4rem;
    }
    .des{
        font-size: 1.6rem;
        font-weight: 400;
        color: $text-p;
        line-height: 2.8rem;
        margin-bottom: 0rem;
    }
}

.discount-check-d{
    color: $primary;
    font-size: 2.2rem;
}

.my-order-page-ul-main{
    @include m-575{
        flex-direction: column;
        align-items: flex-start !important;
    }
    .nd-list-us {
        padding-left: 2.5rem;
        @include m-575{
            padding-left: 0rem;
        }
    }
}

.order-info-left {
    position: relative;
    margin-top: -3px;
    @include m-575{
        margin-top: 0px;
    }
}
section.custom-sec-us-all-molat {
    padding: 10rem 0rem;
}



.order-detail-box{
    .main-dv-order-detail-mh {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include m-425{
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .tittle-order{
        font-size: 2.4rem;
        font-weight: 700;
    }
    .order-combination{
        margin-bottom: 0px;
        .list{
            margin-right: 10rem;
            font-size: 1.6rem;
            font-weight: 400;
            @include medium-991{
                margin-right: 3rem;
            }
        }
        .use-formb {
            margin-bottom: 3px !important;
        }

    } 
    .order-pad-mb-pb{
        padding-bottom: 1.8rem;
        margin-bottom: 1.6rem;
        &:last-child{
            margin-bottom: 2.5rem !important;
        }
       
    }
}
.sec-ou-oder-detail {
    padding: 10rem 0rem 7.2rem;
}


// suppliercode detail
.supplier-detail-order-us{
        .tittle-order{
            margin-bottom: 0px;
        }
        .total-amount-list{
            margin-top: 0.5rem;
            margin-bottom: 0.8rem;
        }
}
.share-link {
    font-size: 1.6rem;
    font-weight: 600;
    &:hover{
        color: $secondary;
    }
    .fas.fa-share-alt {
        font-size: 2.5rem;
        position: relative;
        top: 0.3rem;
        padding-right: 0.6rem;
    }
}
.rtl{
    .share-link{
        .fas.fa-share-alt {
           
            padding-left: 0.6rem;
            padding-right: 0rem;
        }
    }
} 
.for-reponsive-order{
    @include m-575{
        flex-direction: column;
        align-items: flex-start !important;

    }
}
.login-s-order-detail-font{
    font-weight: 400 !important;
    font-size: 2rem !important;
}
.rtl{
    .my-order-page-ul-main {
        @include m-575{
            align-items: flex-start !important;
        }
        .nd-list-us{
            padding-left: 0rem;
            // padding-right: 2.5rem;
            padding-right: 0rem;
            @include m-575{
                padding-right: 0rem;
            }
        }
    }
    .order-combination {
        .list{
            display: flex;
            align-items: baseline;
            span {
                @include m-575{
                    line-height: 13px;
                }
            }
        }
    }
    .order-detail-box {
        .order-combination {
            .list{
                margin-right: 0rem;
                margin-left: 10rem;
                align-items: baseline;
            }
        }
    }
    .total-amount-list{
        display: flex;
        align-items: baseline;
        span{
            padding-right: 0.5rem;
        }

    }
}

.order-action-btn {
    position: relative;
    top: 1rem;
    margin-bottom: 2px;
}

.order-detail-box {
    @include m-575{
        margin-top: 2.5rem;
    }
}
.title.mt-top-mins {
    margin-top: -3px;
}


// supplier order-detail
.supplier-order-detal-us{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1.3rem;
    @include m-425{
        flex-direction: column;
        align-items: flex-start;
        
    }
    .flex-setting{
        @include m-425{
            align-items: flex-end;
            display: flex;
            // flex-direction: column;
            align-self: flex-end;
            margin-top: 2rem;
        }
    }
    .flex-setting-st{
        @include m-425{
            // align-items: flex-start;
            // display: flex;
            // flex-direction: column;
        }
    }
    .order-action-btn {
        position: relative;
        top: 0rem;
        @include m-425{
            align-self: flex-end;
        }
    }

}
.rtl{
    .order-combination .list span{
        padding-right: 5px;
    }
}
.my-ordemt-a.supplier-my-ordemt-a{
    
}
// end supplier order deatil

// extra-section scss
.company-info-card {
  .des-home{
      font-size: 1.8rem;
      color: $heading;
      font-weight: 600;
      margin-top: 0.8rem;
      margin-bottom: 0.1rem;
      text-transform: capitalize;
  }
}
.company-info-card-colr{
    padding-bottom: 1.6rem !important;
    .order-combination{
        .list{
            font-size: 1.6rem;
            font-weight: 400;
            color: $heading;
            margin-bottom: 0.4rem;
            span{
                font-weight: 400 !important;
                color: $text-p;
            }
        }
    }
   
}

.billing-shipping-address .heading .title {
    font-size: 2.4rem;
    font-weight: 500;
    color: $heading;
    text-transform: capitalize;

}
.billing-shipping-address .address-items .desc {
    font-size: 1.4rem;
    font-weight: 300;
    color: $text-p;
}
.border-bottom.billing-shipping-address {
    padding-bottom: 1.7rem;
    margin-bottom: 1.4rem;
}