.search-box-supplier{
    @include medium-991{
        margin-bottom: 3rem;
    }
    .input-group{
        display: flex;
        align-items: center;
        .Search-label{
            font-size: 2.2rem;
            font-weight: 600;
            color: $heading;
            margin-right: 3rem;
        }
        .form-control{
            height: 5rem;
            width: 44.1rem;
            font-size: 1.6rem;
            font-weight: 300;
            color: $text-9;
            padding: 0 2rem;
            border-radius: 0;
            border: 1px solid $footer-bg;
            @include m-430{
                width: 30rem;
            }
            &::placeholder{
                color: $text-9;
            }
            &:focus{
                box-shadow: none;
                outline: none;
            }
        }
        .input-group-append{
            .btn.btn-success{
                height: 5rem;
                width: 5rem;
                min-width: 5rem;
                background-color: $primary;
                display: flex;
                align-items: center;
                justify-content: center;
                border-color: $primary;
                z-index: 4;
                border-radius: 0;
                .fa-search{
                    font-size: 1.1rem;
                }
                &:focus{
                    box-shadow: none;
                    outline: none;
    
                }
                &:hover{
                    background-color: $heading;
                    border-color: $heading;
                }
            }
        }
    }
}

.rtl{
    .search-box-supplier{
        .input-group{
            .Search-label{
                margin-right: 0;
                margin-left: 3rem;
            }
        } 
    } 
}

.suppliers-card-p{
    width: 100%;
    .store-item{
        padding-left: 0rem;
        padding-right: 0rem;
        margin-bottom: 3rem;
    }
}

.col-adjustment-supplier{
    .col-sm-12.col-md-4.col-lg-3{
        @include small-767{
            max-width: 50%;
        }
    }
}

.addres-s i{
    margin-right: 0.5rem;
    margin-left: 0rem;
}
.rtl{
    .addres-s{
        direction: rtl;
        
        i{
            margin-right: 0rem;
            margin-left: 0.5rem;
        }
    }
}